
<p-growl [value]="hmsgs" life="6000"></p-growl>

<div class="ui-g ui-g-pad dashboard">
    <div class="ui-g-12">
        <p-toolbar styleClass="toolbarstyle">
            <div class="ui-toolbar-group-right headerLabel">
                <img src="../assets/images/wrench.png" style="vertical-align: middle;" /> {{activeLabel}}
            </div>
            <div class="ui-toolbar-group-left">
                <button type="button" pButton icon="fa-refresh" (click)="rtvList()"  [pTooltip]="shared.refreshLabel"></button>
                
            </div>
        </p-toolbar>

        <div align="center">
            <p-dataTable [value]="settingList"  
                [style]="{'width':'100%'}"
                [rows]="10" [paginator]="true" [pageLinks]="5"
                [alwaysShowPaginator]="false" 
                [emptyMessage]="shared.emptyListMsg">
                <p-column [style]="{'width':'20%'}" field="name" header="{{shared.nameLabel}}"></p-column>
                <p-column [style]="{'width':'30%'}" field="valuex" header="{{shared.valueLabel}}"></p-column>
                <p-column [style]="{'width':'20%'}" field="unit" header="{{shared.unitLabel}}"></p-column>

                <p-column header="{{shared.changeLabel}}" [style]="{'width':'20%'}">

                    <ng-template let-col let-setting="rowData" pTemplate="body">
                        <div align="center">
                        <button type="button" pButton icon="fa-edit" (click)="edit(setting)" [pTooltip]="shared.editLabelFa"></button>
                    </div>
                    </ng-template>
                </p-column>


            </p-dataTable>
        </div>

    </div>
</div>
<p-confirmDialog header="{{shared.confirmHeader}}" width="425" rtl="true" #cd>
    <p-footer>
        <button type="button" pButton icon="fa-close" [label]="shared.noLabel" (click)="cd.reject()" style="margin-right: 30%;"></button>
        <button type="button" pButton icon="fa-check" [label]="shared.yesLabel" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>


<p-dialog header="{{shared.editPanelLabel}}" [(visible)]="displayDialog" [responsive]="true"
    [resizable]="false" showEffect="fade"
    [modal]="true" [rtl]="true" [width]="600">
    <form [formGroup]="form" (submit)="save()">
        <div class="ui-grid ui-grid-responsive  ui-grid-pad" >
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="settingName">
                    <i class="fa fa-dot-circle-o font-icon-style"></i>
                    {{shared.nameLabel}}</label></div>
                <div class="ui-grid-col-8">
                    <input pInputText id="settingName" size="50" [(ngModel)]="setting.name" type="text" formControlName="name" />
                </div>
            </div>
 
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="form.controls['name'].touched && form.controls['name'].hasError('required')">
                        {{shared.requiredMsg}}
                    </div>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="form.controls['name'].touched && form.controls['name'].hasError('minlength')">
                        {{shared.minLengthValidatorNameMsg}} : {{form.controls['name'].errors.minlength.requiredLength}} {{shared.charLabel}}
                    </div>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="form.controls['name'].touched && form.controls['name'].hasError('maxlength')">
                        {{shared.maxLengthValidatorNameMsg}} : {{form.controls['name'].errors.maxlength.requiredLength}} {{shared.charLabel}}
                    </div>
                </div>
            </div>

            <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="valueName">
                        <i class="fa fa-dot-circle-o font-icon-style"></i>
                        {{shared.valueLabel}}</label></div>
                    <div class="ui-grid-col-8">
                        <input pInputText id="valueName" size="50" [(ngModel)]="selectedValue" type="text" formControlName="value" />
                    </div>
                </div>
                <div class="ui-grid-row">
                        <div class="ui-grid-col-4"><label for="unitName">
                            <i class="fa fa-dot-circle-o font-icon-style"></i>
                            {{shared.unitLabel}}</label></div>
                        <div class="ui-grid-col-8">
                            <input pInputText id="unitName" size="50" [(ngModel)]="setting.unit" type="text" formControlName="unit" />
                        </div>
                 </div>
        </div>
        <footer>
            <div align="center">
                <button type="submit" pButton icon="fa-check" label="{{shared.saveLabel}}" [disabled]="!form.valid"></button>
            </div>
            <p-messages [value]="innerPannelGMessage" [closable]="true"></p-messages>
        </footer>
    </form>
</p-dialog>

<p-dialog [(visible)]="loading" responsive="true" [resizable]="false" showEffect="fade" width="300" [rtl]="true" modal="modal"
    [showHeader]="false" styleClass="ui-dialog">
    <loadingCmp [loading]="loading" spinnerStyleClass="spinnerClassBlack"></loadingCmp>
</p-dialog>