<form [formGroup]="workerPhoneForm" (ngSubmit)="onSubmitWPhoneform()">

    <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" *ngIf="workerPhone">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="pnumberID">{{shared.mobileLabel}}</label></div>
            <div class="ui-grid-col-8"><input pInputText id="pnumberID" [(ngModel)]="workerPhone.number" formControlName="phoneNumber" class="ltrDirection"
                /></div>
        </div>

    </div>
    <br/>
    <br/>
    <p-footer>
        <div align="center">
            <button type="submit" pButton icon="fa-save" label="{{shared.saveLabel}}" class="ui-button turquoise-btn"></button>
        </div>
    </p-footer>
</form>
<p-dialog [(visible)]="loading" responsive="true" [resizable]="false" showEffect="fade" width="300"
     [rtl]="true" [modal]="true"
    [showHeader]="false" styleClass="ui-dialog" [style]="{'z-index':'9990'}">
    <loadingCmp [loading]="loading" spinnerStyleClass="spinnerClassBlack"></loadingCmp>
</p-dialog>