.control-labelx.required:after { 
    color: #d00;
    content: "*";
    position: relative;
    margin-left: 5px;
    top:4px;
  }
  .control-labely.required:after { 
    color: #d00;
    content: "*";
    position: relative;
    margin-left: 5px;
    top:4px;
  }
  .btn-style{
      width: 40%;
      padding: 5px;
  }