<p-growl [value]="hmsgs" life="6000"></p-growl>

<div *ngIf="!loading">
    <div class="ui-g ui-g-pad dashboard">
        <div class="ui-g-12">
            <p-toolbar styleClass="toolbarstyle">
                <div class="ui-toolbar-group-right headerLabel">
                    <img src="../assets/images/review.png" style="vertical-align: middle;" /> {{activeLabel}}

                </div>
                <div class="ui-toolbar-group-left">

                    <button type="button" pButton icon="fa-chevron-circle-left" (click)="showWorkStationCartableDashboard()"
                        [label]="shared.showCartableWorkStationDashboard" [pTooltip]="shared.showCartableWorkStationDashboard"
                        *ngIf="!displayWorkstationCartable"></button>
                    <button type="button" pButton icon="fa-filter" (click)="showHistoryPanel()" [pTooltip]="shared.historyLabel"></button>

                    <button type="button" pButton icon="fa-refresh" (click)="showWorkStationCartableDashboard()"
                        [pTooltip]="shared.showCartableWorkStationDashboard" *ngIf="displayWorkstationCartable"></button>
                    <button type="button" pButton icon="fa-refresh" (click)="showNewWSDocsCartabl()" *ngIf="displayNewWSDocs"></button>
                    <button type="button" pButton icon="fa-refresh" (click)="showNewWSLogoCartabl()" *ngIf="displayNewWSLogos"></button>
                    <button type="button" pButton icon="fa-refresh" (click)="showNewWSCatalogCartabl()" *ngIf="displayNewWSCatalogs"></button>
                </div>
            </p-toolbar>

            <div class="ui-toolbar ui-widget ui-widget-header ui-corner-all ui-helper-clearfix" *ngIf="chipsFilterValues?.length>0">
                <div class="ui-chips ui-widget">
                    <ul class="ui-inputtext ui-state-default ui-corner-all">
                        <li *ngFor="let ci of chipsFilterValues;let i=index" class="ui-chips-token ui-state-highlight ui-corner-all">
                            <span class="ui-chips-token-label">{{ci}}
                            </span>
                        </li>
                        <span style="cursor: pointer;float:left" class="ui-chips-token-label" (click)="onRemoveFilter()">{{shared.clearFilterLabel}}
                            <span class="ui-chips-token-icon fa fa-fw fa-minus-square"></span>
                        </span>
                    </ul>

                </div>
            </div>
        </div>



  
        <div *ngIf="displayWorkstationCartable" class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="ui-g card ui-shadow-2 overview-box overview-box-1" (click)="showNewWSDocsCartabl()">
                <div class="ui-g-4">
                    <i class="fa fa-id-card-o"></i>
                </div>
                <div class="ui-g-8" style="text-align: justify">
                    <span class="overview-box-count">{{stat?.wsDocCnt}}</span>
                    <span class="overview-box-name">{{shared.wsDocument}}</span>
                </div>
            </div>
        </div>

        <div *ngIf="displayWorkstationCartable" class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="ui-g card ui-shadow-2 overview-box overview-box-6" (click)="showNewWSLogoCartabl()">
                <div class="ui-g-4">
                    <i class="fa fa-file-image-o"></i>
                </div>
                <div class="ui-g-8" style="text-align: justify">
                    <span class="overview-box-count">{{stat?.wsLogoCnt}}</span>
                    <span class="overview-box-name">{{shared.wsLogo}}</span>
                </div>
            </div>
        </div>
        <div *ngIf="displayWorkstationCartable" class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="ui-g card ui-shadow-2 overview-box overview-box-4" (click)="showNewWSCatalogCartabl()">
                <div class="ui-g-4">
                    <i class="fa fa-camera"></i>
                </div>
                <div class="ui-g-8" style="text-align: justify">
                    <span class="overview-box-count">{{stat?.wsCatalogCnt}}</span>
                    <span class="overview-box-name">{{shared.wsCatalog}}</span>
                </div>
            </div>
        </div>


  
        <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="displayNewWSDocs">
            <div align="center">
                <p-dataGrid [value]="newWorkerStationDocuments" [paginator]="true" [rows]="8" [emptyMessage]="shared.emptyListMsg"
                    [alwaysShowPaginator]="false">
                    <p-header>
                        <b>
                            {{shared.wsDocumentCartablLabel}}
                        </b>
                    </p-header>
                    <ng-template let-doc pTemplate="item">
                        <div style="padding:3px" class="ui-g-12 ui-md-3">
                            <p-panel [style]="{'text-align':'center'}">
                                <p-header>
                                    {{doc.workStation.title}}
                                    <hr />
                                    {{doc.workStation.code}}

                                </p-header>
                                <a class="wsCatalogImageStyle" (click)="showWSDocImage(doc)">
                                    <img [src]="doc.photo" style="width:64px;height:auto" />

                                </a>
                                <div>{{doc.documentType?.name}} - {{doc.info}}</div>

                                <i class="fa fa-search" (click)="showWSDocImage(doc)" style="cursor:pointer;padding:10px"></i>
                                <i class="fa fa-check" (click)="handleWorkstationDocuments(doc,1)" style="cursor:pointer;padding:10px"></i>
                                <i class="fa fa-close" (click)="handleWorkstationDocuments(doc,2)" style="cursor:pointer;padding:10px"></i>
                            </p-panel>
                        </div>
                    </ng-template>
                </p-dataGrid>
            </div>
        </div>

        <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="displayNewWSLogos">
            <div align="center">
                <p-dataGrid [value]="newWorkStationsLogo" [paginator]="true" [rows]="8" [emptyMessage]="shared.emptyListMsg"
                    [alwaysShowPaginator]="false">
                    <p-header>
                        <b>
                            {{wsLogosCartablLabel}}
                        </b>
                    </p-header>
                    <ng-template let-ws pTemplate="item">
                        <div style="padding:3px" class="ui-g-12 ui-md-3">
                            <p-panel [style]="{'text-align':'center'}">
                                <p-header>
                                    {{ws.title}}
                                    <hr />
                                    {{ws.code}}

                                </p-header>
                                <a class="wsCatalogImageStyle" (click)="showWSLogo(ws)">
                                    <img src="{{ws.logo}}" width="64">
                                </a>
                                <div>{{ws.title}}</div>

                                <i class="fa fa-search" (click)="showWSLogo(ws)" style="cursor:pointer;padding:10px"></i>
                                <i class="fa fa-check" (click)="handleWorkStationLogo(ws,1)" style="cursor:pointer;padding:10px"></i>
                                <i class="fa fa-close" (click)="handleWorkStationLogo(ws,2)" style="cursor:pointer;padding:10px"></i>
                            </p-panel>
                        </div>
                    </ng-template>
                </p-dataGrid>
            </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="displayNewWSCatalogs">
            <div align="center">
                <p-dataGrid [value]="newWorkStationsCatalog" [paginator]="true" [rows]="8" [emptyMessage]="shared.emptyListMsg"
                    [alwaysShowPaginator]="false">
                    <p-header>
                        <b>
                            {{wsCatalogsCartablLabel}}
                        </b>
                    </p-header>
                    <ng-template let-wc pTemplate="item">
                        <div style="padding:3px" class="ui-g-12 ui-md-3">
                            <p-panel [style]="{'text-align':'center'}">
                                <p-header>
                                    {{wc.workStation.title}}
                                    <hr />
                                    {{wc.workStation.code}}
                                </p-header>
                                <img src="{{wc.photo}}" width="64">

                                <div>{{wc.info}}</div>
                                <hr class="ui-widget-content" style="border-top:0">
                                <i class="fa fa-search" (click)="showWSCatalog(wc)" style="cursor:pointer;padding:10px"></i>
                                <i class="fa fa-check" (click)="handleWorkStationCatalog(wc,1)" style="cursor:pointer;padding:10px"></i>
                                <i class="fa fa-close" (click)="handleWorkStationCatalog(wc,2)" style="cursor:pointer;padding:10px"></i>
                            </p-panel>
                        </div>
                    </ng-template>
                </p-dataGrid>
            </div>
        </div>

    </div>

</div>
<div *ngIf="loading">
    <p-dialog [(visible)]="loading" responsive="true" [resizable]="false" width="300" [rtl]="true" [showHeader]="false"
        styleClass="ui-dialog">
        <loadingCmp [loading]="loading" spinnerStyleClass="spinnerClassBlack"></loadingCmp>
    </p-dialog>
</div>

<div *ngIf="displayWorkStationDetailDialog">
    <p-dialog [(visible)]="displayWorkStationDetailDialog" responsive="true" [closable]="false" [resizable]="false"
        showEffect="fade" width="700" [rtl]="true" modal="modal" [header]="shared.workStationLabelFa" styleClass="ui-dialog">
        <p-header>
            {{shared.showBizInfo}}
            <div style="float:left">
                <button type="button" pButton icon="fa-close" class="ui-button pink-btn smallBtn" (click)="closeWorkStationViewDialog();"></button>
            </div>
        </p-header>
        <workStationViewComponent [workStation]="workStation" (onDisplayCatalogImageDialog)="onDisplayCatalogImageDialog($event)"
            (onDisplayDocumentImageDialog)="onDisplayDocumentImageDialog($event)"></workStationViewComponent>
    </p-dialog>
</div>
<div *ngIf="displayWorkStationEditDialog">
    <p-dialog [(visible)]="displayWorkStationEditDialog" responsive="true" [closable]="false" [resizable]="false"
        showEffect="fade" width="800" [rtl]="true" modal="modal" styleClass="ui-dialog">
        <p-header>
            {{shared.editLabelFa}}
            <div style="float:left">
                <button type="button" pButton icon="fa-close" class="ui-button pink-btn smallBtn" (click)="closeWorkStationEditDialog();"></button>
            </div>
        </p-header>
        <div class="ui-rtl" dir="rtl">
            <p-tabView>
                <p-tabPanel [header]="shared.jobDataLabel">
                    <wsJobInfoComponent [inputWorkStation]="workStation" [editMode]="true" [jobCategory1List]="basicData.jobCategory1List"
                        (onClose)="onCloseWorkStationEditDialog($event)" (onSave)="onSaveWorkStationPanel($event)"
                        (onDelete)="onDeleteJobCategoryPanel($event)"></wsJobInfoComponent>
                </p-tabPanel>
                <p-tabPanel [header]="shared.BizInfo">
                    <wsBizInfoComponent [inputWorkStation]="workStation" [workTypeList]="basicData.workTypeList"
                        [editMode]="true" [setupDate]="false" (onClose)="onCloseWorkStationEditDialog($event)"
                        (onDisplayCatalogImageDialog)="onDisplayCatalogImageDialog($event)" (onUploadT)="onUploadBizInfoPanel($event)"
                        (onSave)="onSaveWorkStationPanel($event)"></wsBizInfoComponent>

                </p-tabPanel>
                <p-tabPanel [header]="shared.personalWorkerDataSumLabel">
                    <wsPersonalInfoComponent [inputWorkStation]="workStation" [positionTypeList]="basicData.positionTypeList"
                        [editMode]="true" (onClose)="onCloseWorkStationEditDialog($event)" (onSave)="onSaveWorkStationPanel($event)"></wsPersonalInfoComponent>
                </p-tabPanel>
                <p-tabPanel [header]="shared.locationDataSumLabel">
                    <wsLocationInfoComponent [inputWorkStation]="workStation" [provinceList]="basicData.chooseProvinceList"                        
                         [editMode]="true" (onClose)="onCloseWorkStationEditDialog($event)"
                        (onSave)="onSaveWorkStationPanel($event)"></wsLocationInfoComponent>
                </p-tabPanel>
                <p-tabPanel [header]="shared.contactDataLabel">
                    <wsContactInfoComponent [inputWorkStation]="workStation" [editMode]="true" (onClose)="onCloseWorkStationEditDialog($event)"
                        (onError)="onErrorWorkStationEditPanel($event)" (onShowWorkStationPhoneToAdd)="onShowWorkStationPhoneDialogToAdd($event)"
                        (onShowWorkStationPhoneToEdit)="onShowWorkStationPhoneDialogToEdit($event)" (onSave)="onSaveWorkStationPanel($event)"
                        [filterPhoneTypeList]="basicData.filterPhoneTypeList">
                    </wsContactInfoComponent>
                </p-tabPanel>
                <p-tabPanel [header]="shared.documentsLabel">
                    <wsDocumentInfoComponent [inputWorkStation]="workStation" [documentTypeList]="basicData.docTypeList"
                        (onClose)="onCloseWorkStationEditDialog($event)" [loading]="loading" (onSave)="onSaveWorkStationPanel($event)"
                        (onShowImage)="onShowImage($event)"></wsDocumentInfoComponent>
                </p-tabPanel>
            </p-tabView>
        </div>
    </p-dialog>
</div>

<div *ngIf="displayWorkStationPhoneDialog">
    <p-dialog [header]="shared.phoneEditMsg" [(visible)]="displayWorkStationPhoneDialog" [resizable]="false"
        [responsive]="true" [modal]="true" [modal]="true" [rtl]="true">
        <wsPhoneInfoComponent [inputWorkStation]="panelWorkStation" [editMode]="true" (onClose)="onCloseWorkStationPhoneInfoPanel($event)"
            (onError)="onErrorWorkStationPhoneInfoPanel($event)" [workStationPhone]="workStationPhone"
            [newWorkStationPhone]="newWorkStationPhone" (onSave)="onSaveWorkStationPhoneInfoPanel($event)"
            [filterPhoneTypeList]="basicData.filterPhoneTypeList"></wsPhoneInfoComponent>
    </p-dialog>
</div>


<div *ngIf="displayCatalogImageDialog">
    <p-dialog [(visible)]="displayCatalogImageDialog" [responsive]="true" [modal]="true" [resizable]="false"
        [showHeader]="false" [dismissableMask]="true">
        <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedImageCatalog">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12" style="text-align:center">
                    <!--<img src="{{selectedImageCatalog.source}}">-->
                    <img [src]="selectedImageCatalog.source" style="max-width:512px;height:auto">

                </div>
            </div>
        </div>
    </p-dialog>
</div>
<div *ngIf="displayImageDialog">
    <p-dialog [(visible)]="displayImageDialog" [responsive]="true" [modal]="true" [resizable]="true" [showHeader]="false"
        [closable]="true" [dismissableMask]="true">
        <div class="ui-grid ui-grid-responsive ui-grid-pad">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12" style="text-align:center">
                    <img [src]="selectedImagePath" style="max-width:512px;height:auto" />
                </div>
            </div>
        </div>
    </p-dialog>
</div>
<div *ngIf="displayHistoryPanel">
    <p-dialog [(visible)]="displayHistoryPanel" responsive="true" [closable]="false" [resizable]="false" showEffect="fade"
        width="500" [rtl]="true" modal="modal" styleClass="ui-dialog">
        <p-header>
            {{shared.historyLabel}}
            <div style="float:left">
                <button type="button" pButton icon="fa-close" class="ui-button pink-btn smallBtn" (click)="closeHistoryDialog();"></button>
            </div>
        </p-header>
        <form [formGroup]="filterForm" (ngSubmit)="onSubmitFilterform()">

            <div class="ui-grid ui-grid-responsive  ui-grid-pad">

                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <label for="itemTypeID">
                            <i class="fa fa-dot-circle-o font-icon-style"></i>
                            {{shared.typeLabel}}
                        </label>
                    </div>
                    <div class="ui-grid-col-8">
                        <p-dropdown id="itemTypeID" [(ngModel)]="selectedItemType" [options]="itemTypeList" [style]="{'width':'100%'}"
                            formControlName="itemType" filter="filter"></p-dropdown>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <label for="startDate_input">
                            <i class="fa fa-dot-circle-o font-icon-style"></i>
                            {{shared.startWorkingHourLabel}}
                        </label>
                    </div>
                    <div class="ui-grid-col-8">
                        <dp-date-picker [(ngModel)]="_startDate" mode="daytime" [config]="datePickerConfig" theme="dp-material"
                            [ngModelOptions]="{standalone: true}">
                        </dp-date-picker>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <label for="stopDate_input">
                            <i class="fa fa-dot-circle-o font-icon-style"></i>
                            {{shared.stopWorkingHourLabel}}
                        </label>
                    </div>
                    <div class="ui-grid-col-8">
                        <dp-date-picker [(ngModel)]="_stopDate" mode="daytime" [config]="datePickerConfig" theme="dp-material"
                            [ngModelOptions]="{standalone: true}">
                        </dp-date-picker>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <label>
                            <i class="fa fa-dot-circle-o font-icon-style"></i>
                            {{shared.state}}
                        </label>
                    </div>
                    <div class="ui-grid-col-8">
                        <div class="ui-g-6">
                            <p-radioButton name="stateGroup" value="2" [label]="shared.rejectLabel" [(ngModel)]="selectedVerfyState"
                                formControlName="verified"></p-radioButton>
                        </div>
                        <div class="ui-g-6">
                            <p-radioButton name="stateGroup" value="1" [label]="shared.acceptLabel" [(ngModel)]="selectedVerfyState"
                                formControlName="verified"></p-radioButton>
                        </div>

                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <label for="usersListID">
                            <i class="fa fa-dot-circle-o font-icon-style"></i>
                            {{shared.verifierWsUserName}}
                        </label>
                    </div>
                    <div class="ui-grid-col-8">
                        <p-dropdown id="usersListID" [(ngModel)]="selectedVerifier" [options]="basicData.usersList"
                            [style]="{'width':'100%'}" formControlName="verifiedBy" filter="filter"></p-dropdown>
                    </div>
                </div>
            </div>
            <div align="center" style="padding:4px">
                <button type="submit" pButton icon="fa-search" label="{{shared.showFilter}}" class="ui-button turquoise-btn filterBtnStyle"></button>
            </div>

        </form>
        <p-messages [(value)]="imsgs"></p-messages>
    </p-dialog>
</div>

<p-confirmDialog header="{{shared.confirmHeader}}" width="425" rtl="true" #cd>
    <p-footer>
        <button type="button" pButton icon="fa-close" [label]="shared.noLabel" (click)="cd.reject()" style="margin-right: 30%;"></button>
        <button type="button" pButton icon="fa-check" [label]="shared.yesLabel" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>