<p-growl [value]="msgs" life="3000"></p-growl>

<form [formGroup]="filterForm" (ngSubmit)="onSubmitFilterform()">
    <p-accordion>
        <p-accordionTab id="filterRequestID" [header]="shared.transactionViewLabel" [selected]="true">
            <div class="ui-grid ui-grid-responsive  ui-grid-pad">

                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <label>
                            <i class="fa fa-dot-circle-o font-icon-style"></i>
                            {{shared.transactionAmountLabel}}
                        </label>
                    </div>
                    <div class="ui-grid-col-4">
                        <input pInputText id="startID" [(ngModel)]="selectedTransactionAmountStart"
                             type="number"  formControlName="transactionAmountStartFormCntrl"
                            class="width100p" />
                    </div>
                    <div class="ui-grid-col-4">
                        <input pInputText id="stopID" [(ngModel)]="selectedTransactionAmountStop"
                             type="number"  formControlName="transactionAmountStopFormCntrl"
                            class="width100p" />
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <label>
                            <i class="fa fa-dot-circle-o font-icon-style"></i>
                            {{shared.updatePeriodTimeLabel}}
                        </label>
                    </div>
                    <div class="ui-grid-col-4">
                        <dp-date-picker [(ngModel)]="_updateStartDate" mode="daytime" [config]="datePickerConfig" theme="dp-material" [ngModelOptions]="{standalone: true}">
                        </dp-date-picker>
                    </div>

                    <div class="ui-grid-col-4">
                        <dp-date-picker [(ngModel)]="_updateStopDate" mode="daytime" [config]="datePickerConfig" theme="dp-material" [ngModelOptions]="{standalone: true}">
                        </dp-date-picker>
                    </div>
                </div>
            </div>
        </p-accordionTab>
        <p-accordionTab id="filterClientPersonalID" [header]="shared.clientViewLabel">
            <div formGroupName="personalData" class="ui-grid ui-grid-responsive  ui-grid-pad">

                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <label for="firstname">
                            <i class="fa fa-info-circle font-icon-style"></i>
                            {{shared.firstNameLabel}}
                        </label>
                    </div>
                    <div class="ui-grid-col-8">
                        <input pInputText id="firstname" [(ngModel)]="selectedFirstName" type="text" size="30" formControlName="firstName" class="width100p"
                        />
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <label for="lastName">
                            <i class="fa fa-info-circle font-icon-style"></i>
                            {{shared.lastNameLabel}}
                        </label>
                    </div>
                    <div class="ui-grid-col-8">
                        <input pInputText id="lastName" [(ngModel)]="selectedLastName" type="text" size="30" formControlName="lastName" class="width100p"
                        />
                    </div>
                </div>


            </div>
        </p-accordionTab>

    </p-accordion>
    <div align="center" style="padding:4px">
        <button type="submit" pButton icon="fa-save" label="{{shared.showFilter}}" class="ui-button turquoise-btn"></button>
    </div>


</form>
<p-dialog [(visible)]="loading" responsive="true" [resizable]="false" width="300" [rtl]="true" [showHeader]="false" styleClass="ui-dialog">
    <loadingCmp [loading]="loading" spinnerStyleClass="spinnerClassBlack"></loadingCmp>
</p-dialog>